---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<body>
	<main class="content">
		<section class="plant">
			<div class="container">
				<article>
					<span class="h1"><h1>{{ page.plant.title }}</h1></span>
		
					<span class="h3"><h3>Description</h3></span>
					{{ page.content }}
					<div class="plant-meta">
					
						<span class="h2"><h3>Requirements</h3></span>
						<p>{{ page.plant.req }}</p>
						
						<span class="h3"><h3>Common Names</h3></span>
						<p><a title="{{ page.common.title }}" href="{{ page.common.url }}" target="_blank" rel="nofollow">{{ page.common.title }}</a></p>
						<span class="h3"><h3>Blooms</h3></span>
						<p>{{ page.common.blooms }}</p>
					</div>
				</article>
				<aside>
						{% for image in page.images %}
						<figure>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
							</figure>
						{% endfor %}
				</aside>
			</div>
		</section>
		<section class="plant-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "plants" %}
				<a title="Previous {{ page.previous.plant.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.plant.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "plants" %}
				<a title="Next {{ page.next.plant.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.plant.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
</body>
</html>
