---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.plant.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="plant">
			<div class="container">
				<article>
					<span class="h2">Plant Title</span>
					<h1>
						<a href="{{ page.plant.url }}" target="_blank" title="{{ page.plant.title }}" rel="nofollow">{{ page.plant.title }}</a>
					</h1>
					<span class="h2">Role</span>
					{{ page.content }}
					<div class="plant-meta">
					
						<span class="h2">Requirements</span>
						<p>{{ page.plant.req }}</p>
						
						<span class="h2">Common Names</span>
						<p><a title="{{ page.common.title }}" href="{{ page.common.url }}" target="_blank" rel="nofollow">{{ page.common.title }}</a></p>
						<span class="h2">Year</span>
						<p>{{ page.common.year }}</p>
					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		<section class="plant-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "plants" %}
				<a title="Previous {{ page.previous.plant.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.plant.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "plants" %}
				<a title="Next {{ page.next.plant.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.plant.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/js/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/plant.js" | prepend: site.baseurl }}"></script>
</body>
</html>
